<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    Recruitment
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item"><a href="~/admin/vacantjobs" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;Vacant Jobs</p></a></li>
                <li class="nav-item"><a href="~/admin/application" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;Applications</p></a></li>
                @*<li class="nav-item"><a href="/admin/document" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;Documents</p></a></li>*@
            </ul>

        </li>
        <li class="nav-item has-treeview menu-open">
            <a href="~/auth/login/logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Logout

                </p>
            </a>
        </li>
        @*<li class="nav-item">
            <a href="/auth/security/logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Logout

                </p>
            </a>
        </li>*@
    </ul>
</nav>