@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        
        <li class="nav-item has-treeview ">
            <a href="~/home/logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    @SharedLocalizer.GetLocalizedHtmlString("Logout")

                </p>
            </a>
        </li>
    </ul>
</nav>