@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">

        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-inbox"></i>
                <p>
                    @SharedLocalizer.GetLocalizedHtmlString("Inventory")
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item"><a href="~/Inventory/Items" class="nav-link "><p>@SharedLocalizer.GetLocalizedHtmlString("Item's")</p></a></li>
                <li class="nav-item"><a href="~/Inventory/ItemCategories" class="nav-link "><p>@SharedLocalizer.GetLocalizedHtmlString("Item Categories")</p></a></li>
            </ul>
        </li>
        <li class="nav-item has-treeview ">
            <a href="~/home/Index" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    @SharedLocalizer.GetLocalizedHtmlString("Return")

                </p>
            </a>
        </li>
    </ul>
</nav>