@using ErpOnClick.Authorization.Resources
@inject LocService SharedLocalizer

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    @SharedLocalizer.GetLocalizedHtmlString("Authorization")
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
           
            
            <ul class="nav nav-treeview">
                <li class="nav-item"><a href="~/admin/user" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;@SharedLocalizer.GetLocalizedHtmlString("Users")</p></a></li>
                <li class="nav-item"><a href="~/admin/role" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;@SharedLocalizer.GetLocalizedHtmlString("Roles")</p></a></li>
                <li class="nav-item"><a href="~/admin/module" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;@SharedLocalizer.GetLocalizedHtmlString("Module")</p></a></li>
                <li class="nav-item"><a href="~/admin/navigation" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;@SharedLocalizer.GetLocalizedHtmlString("Navigations")</p></a></li>
                <li class="nav-item"><a href="~/admin/privileges" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;@SharedLocalizer.GetLocalizedHtmlString("Privileges")</p></a></li>
                <li class="nav-item"><a href="~/admin/ApprovalTask" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;@SharedLocalizer.GetLocalizedHtmlString("Approval Tasks")</p></a></li>

            </ul>

        </li>
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    @SharedLocalizer.GetLocalizedHtmlString("Activity")
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item"><a href="~/admin/LogActivity" class="nav-link "><i class="fa fa-sitemap nav-icon"></i><p>&nbsp;@SharedLocalizer.GetLocalizedHtmlString("Activity Log")</p></a></li>
            </ul>

        </li>
        <li class="nav-item has-treeview">
            <a href="~/auth/login/logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    @SharedLocalizer.GetLocalizedHtmlString("Logout")

                </p>
            </a>
        </li>
    </ul>
</nav>