@using ErpOnClick.DAL.Models
@{
    List<Lookups> documentTypeList = Model.documentTypeList;
    List<Lookups> ownerTypeList = Model.ownerTypeList;
    
}

@section TabName{
    Vacant jobs Setup
}



<div class="card card-default card-outline">

    <div class="card-header">
        <h2 class="card-title">
            Documents
        </h2>
        <!-- tools box -->
        <div class="card-tools">
            <a href="~/admin/document/edit" type="button" class="btn  btn-sm btn-primary">
                <i class="fas fa-plus"></i> Add New
            </a>
        </div>
        <!-- /. tools -->
    </div>
    <div class="card-footer pb-0 pt-2 text-sm">
        <form id="frmSearch">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label>Doc Type</label>
                        <select id="DocType" name="DocType" class="form-control input-sm text-sm">
                            <option value="">All</option>
                            @foreach (var item in documentTypeList)
                            {
                                <option value="@item.Code">
                                    @item.LookupNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label>Owner Type</label>
                        <select id="DocOwnerType" name="DocOwnerType" class="form-control input-sm text-sm">
                            <option value="">All</option>
                            @foreach (var item in ownerTypeList)
                            {
                                <option value="@item.Code">
                                    @item.LookupNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div style="display:none">
                    <button type="submit" class="btn btn-default btn-block">Refresh</button>
                </div>
            </div>
        </form>
    </div>
    

    <div class="card-body">
        <div id="divList"></div>

    </div>
</div>


@section scripts{
    <script>
        var applicationName = getApplicationName();

        $(function () {
            $('#frmSearch button').click();
        });

        $('#frmSearch').find('input, select').change(() => {
            $('#frmSearch button').click();
        });

        $('#frmSearch').submit(function (e) {
            e.preventDefault();
            BindGrid();
        })


        function BindGrid() {
           
            var test = $('#frmSearch').serialize();

            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: applicationName+ 'admin/Document/_list',
                data: $('#frmSearch').serialize(),
                success: function (data) {
                    $('#divList').html(data);
                }
            })
        };

    </script>
}
