<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    Setup Forms
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item"><a href="~/admin/company" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Company Info</p></a></li>
                <li class="nav-item"><a href="~/admin/branch" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Branches</p></a></li>

                <li class="nav-item"><a href="~/admin/LookupTypes" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Lookup Types</p></a></li>
                <li class="nav-item"><a href="~/admin/Lookups" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Lookups</p></a></li>

                <li class="nav-item"><a href="~/admin/Buildings" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Buildings</p></a></li>
                <li class="nav-item"><a href="~/admin/Rooms" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Rooms</p></a></li>
                <li class="nav-item"><a href="~/admin/AppConfig" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;App Config</p></a></li>
                <li class="nav-item"><a href="~/admin/owner" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Owner's</p></a></li>
                <li class="nav-item"><a href="~/admin/Trusties" class="nav-link "><i class="fas fa-arrow-right nav-icon"></i><p>&nbsp;Trusties</p></a></li>

            </ul>
        </li>
        <li class="nav-item has-treeview ">
            <a href="~/auth/Login/logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Logout
                </p>
            </a>
        </li>
    </ul>
</nav>