@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer
<div class="card card-default card-outline col-lg-10" id="searchEmp">

    <div class="card-header">
        <h2 class="card-title col-md-3">
            @SharedLocalizer.GetLocalizedHtmlString("Emp Details")
        </h2>
        <div class="col-md-6">
            <div class="row">
                <input type="text" id="empCode" name="empCode" placeholder="Emp Code" class="form-control col-md-6" />
                <button id="btnEmpSearch" style="margin-left:10px" type="button" class="btn  btn-sm btn-primary col-sm-5">
                    <i class="fas fa-search fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Search")
                </button>
            </div>

        </div>


    </div>
    <div class='card-body' id="searchEmpCardBody" style="display:none">

    </div>


</div>


