<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">

                                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                        <li><a asp-action="List" asp-controller="Home">Find a Jobs </a></li>
                                        <li><a asp-action="About" asp-controller="Home">About</a></li>
                                        
                                        <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a asp-action="Index" asp-controller="Application">My Jobs</a></li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div class="header-btn d-none f-right d-lg-block ">
                                @if (!User.Identity.IsAuthenticated)
                                {
                              
                                    <a asp-action="Registration" asp-controller="Login" asp-area="Auth" class="btn head-btn2">Register</a>
                                    <a asp-action="Index" asp-controller="Login" asp-area="Auth" class="btn head-btn2">Login</a>
                             
                                 }
                                else
                                {
                        
                                <a asp-action="ChangePassword" asp-controller="Login" asp-area="Auth"   class="btn head-btn2">( @User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)</a>
                          
                        
                                <a href="~/auth/login/logout" class="btn  head-btn2">
                                    Logout
                                </a>
                          
                                    }

                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>